*,*::before,*::after{
    box-sizing:inherit
}
html {
    box-sizing:border-box;
    -ms-overflow-style:scrollbar;
    font-size: 10px;
}

body {
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 1.4rem;
    height: 100%;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    padding: 1rem;
    border: 1px solid #ddd;
    width: 100%;
}

.button {

}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    position: relative;
    width: 46rem;
    height: 25rem;
    margin: 4rem;
}

.card__register {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__front, .card__back {
    backface-visibility: hidden;
    background-color: #aaa;
    background-image: url(/images/credit-card-bg.jpg);
    background-size: cover;
    border-radius: .8rem;
    color: #fff;
    height: 25rem;
    padding: 2.5rem;
    position: absolute;
    width: 46rem;
    box-shadow: 0rem 0.5rem 2rem 0rem #999;
}

.card__back::before {
    background-color: #fff;
    content: ' ';
    display: block;
    height: 4rem;
    left: 0;
    position: absolute;
    top: 6rem;
    width: 100%;
}

.card__front {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card__section {
    display: flex;
    justify-content: space-between;
}

.card__number {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.card__cvv {
    position: absolute;
    right: 3rem;
    top: 7.3rem;
    color: #333;
    font-style: italic;
}

.card__expiration {
    text-align: center;
}

.card__expiration span {
    color: #000;
    display: inherit;
    font-size: 1rem;
    margin-bottom: .2rem;
    text-align: center;
}

.card__form {
    width: 52rem;
}

.form__row {
    display: flex;
}

.form__field {
    flex: 1;
}

.form__button, .button {
    background-color: #348BB7;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.button {
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
}

.form__button {
    align-items: center;
    display: flex;
    flex: 2;
    justify-content: center;
}

.list {
    width: 50rem;
}

list__name {
    padding: 1rem;
}

.list__item {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #aaa;
}

.list__name {
    padding: 1rem;
}
.list__actions {
    padding: .5rem;
}
.list__actions span {
    padding: .3rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
}

.edit {
    background-color: #348BB7;
}

.delete {
    background-color: #f36060;
}
